{{#if showFirstAndLast}}
  <a class="pagination-links-first {{if firstDisabled 'disabled'}}" {{action "goToPage" 1}}>{{firstPageIcon}}</a>
{{/if}}

<a class="pagination-links-prev {{if prevDisabled 'disabled'}}" {{action "goToPrevPage"}}>{{prevPageIcon}}</a>

{{#each pagesBeforeCurrent as |page|}}
  <a class="pagination-links-page" {{action "goToPage" page}}>{{page}}</a>
{{/each}}

<a class="pagination-links-current">{{currentPage}}</a>

{{#each pagesAfterCurrent as |page|}}
  <a class="pagination-links-page" {{action "goToPage" page}}>{{page}}</a>
{{/each}}

<a class="pagination-links-next {{if nextDisabled 'disabled'}}" {{action "goToNextPage"}}>{{nextPageIcon}}</a>

{{#if showFirstAndLast}}
  <a class="pagination-links-last {{if lastDisabled 'disabled'}}" {{action "goToPage" lastPage}}>{{lastPageIcon}}</a>
{{/if}}
